
td {
  text-align: center;
  border: solid;
  border-color: #FFFFFF;
  width: 25px;
  height: 25px;
}

#vide {
  color: green;
  background-color: #000000;
}
#planete {
  background-color: #0000CC;
}
#vaisseau {
  background-color: #CC0000;
}
#asteroid {
  background-color: #00CC00;
}


#main-content {
  width: 1280px;
  margin: auto;
}

/* Menu de navigation */
nav {
  float: left;
  margin: auto;
  width: 100%;
}
#menu-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu-navigation-li {
    float: left;
}

#menu-navigation-li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu-navigation a:hover {
    background-color: #111;
}
.menu-active {
  background-color: #4CAF50;
}

#container-base {
  height: 600px;
  background-image: url("images/base.jpg");
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
